{
  "env": {
    "development": {
      "presets": ["next/babel"],
      "plugins": [
        "inline-react-svg"
      ]
    },
    "production": {
      "presets": ["next/babel"],
      "plugins": [
        "inline-react-svg"
      ]
    },
    "test": {
      "presets": ["react", "env", "stage-0"],
      "plugins": [
        "inline-react-svg"
      ]
    }
  }
}